/*Importação de fonte da Google*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Formulário e suas configurações*/
.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 10px;
    background-color: #f7f5fb54;
    border: 2px solid rgba(0, 0, 0, 0.199);
    width: 40%;
    height: 70%;
    gap: 50px;
}
.formulario form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formulario h1{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

label{
    font-family: "Poppins", sans-serif;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #363636;

}

form input{
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    border: 3px solid #EDEDEC;
    font-size: 16px;
}
form button{
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background: #0078D4;
    color: white;
    border: none;
    border-radius: 5px;
}

form textarea{
    resize: none;
    border: 3px solid #EDEDEC;
}
